logs/
runs/
coco-2017/
ImageNet_query/
ImageNet_query_fewshot/
ImageNet_test/
fewshot_query_images/
coco_query_objects/
query_images/
test_images/
testenv/
coco_query_objects_filtered/
results_cocoFormat.json
results_batched.json
results_non_batched.json
classes.json
classes_coco.json
results_batched_coco.json
results_batched_plotting.json
query_embeddings_coco_gpu.pth
query_embeddings_gpu.pth
interface/
ImageNet_Queries_For_COCO/
classes_imageNet.json
query_embeddings_imageNet_gpu.pth
Test/coco_val_subset/
Test/
Queries/
Results/
MGN/